.custom_block {
    background: #f2f2f2;
}

.custom_block .pagebuilder-column-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_link_list {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.Footer-social {
    min-width: 100%;
    display: inline;
}

.Footer-root {
    display: inline;
    padding: 0;
}

.footer-links {
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
}


.DesktopNavBar-root .MuiTypography-root {
    position: relative;
    padding-top: 0;
}

.DesktopNavBar-root .MuiTypography-root .desktop-dropdown {
    position: absolute;
    background: #ccc;
    top: 100%;
    width: 200px;
}

.LayoutDefault-header .Scroller-root {
    overflow: visible !important;
}

.Scroller-root .desktop-dropdown .navDropLinks {
    display: flex;
    flex-wrap: wrap;
}

.Scroller-root .desktop-dropdown .navDropLinks a {
    width: 100%;
}


/* Kategorije listanje */

.category-grid-wrapper .category-grid-item img {
    position: static !important;
    height: 150px !important;
    object-fit: cover;
    width: 100% !important;
}

.category-grid-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.category-grid-wrapper > a {
    background: none;
    flex: 1;
    border: 1px solid #ccc;
    text-decoration: none;
}

.category-grid-wrapper > a .category-grid-name {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding: 5px 0 10px;
    font-weight: bold;
    font-size: 14px;
}


/* Home product */

.slick-slider .mui-style-9lxmmz {
    display: inline;
}

.ProductListItem-titleContainer {
    display: inline;
}


/* Header */

header.LayoutDefault-header {
    background: #000;
}

header.LayoutDefault-header .GcLogo-parent img {
    height: auto;
}

header.LayoutDefault-header svg  {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

.CartFab-root svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%) !important;
}

.CartFab-cart {
    background-color: #000 !important;
}

.LayoutDefault-fabs {
    z-index: 99999;
}

.DesktopNavBar-root {
    margin-left: 50px;
}

.DesktopNavBar-root a {
    color: #fff !important;
}

.two-baner .pagebuilder-column-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.two-baner .pagebuilder-column-line img {
    width: 100%;
}

.two-baner .pagebuilder-column-line figure {
    margin: 0;
}

/* Products */

.ProductListItem-titleContainer {
    margin-bottom: 20px;
}


.ProductListItem-root .ProductListPrice-root {
    text-align: left;
    width: 100%;
}

.ProductListItem-root .ProductListPrice-root .NumberFormat {
    font-weight: bold;
}

.slick-arrow  {
    display: none !important;
}

.AddProductsToCartForm .MuiBox-root .ProductListItem-root {
    border: 1px solid #ccc;
    padding: 20px;
}

.ProductListItem-imageContainer {
    padding: 0;
}

.AddProductsToCartForm .MuiBox-root .ProductListItem-root .MuiButtonBase-root {
    background-color: #000;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.AddProductsToCartForm .MuiBox-root .ProductListItem-root .MuiButtonBase-root.ProductWishlistChipBase-wishlistButton {
    background-color: #fff;
    padding: 0;
    position: static;
}

.AddProductsToCartForm .MuiBox-root .ProductListItem-root .MuiButtonBase-root svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

.AddProductsToCartForm .MuiBox-root .ProductListItem-root .MuiButtonBase-root.ProductWishlistChipBase-wishlistButton svg {
    filter: brightness(0) saturate(100%);
}

.slick-slider .AddProductsToCartForm picture img {
    padding: 0 70px;
}

.slick-slider .AddProductsToCartForm .ProductListItem-titleContainer h2 {
    height: 55px;
    line-height: 1.5;
}

/*  */

.pagebuilder-mobile-hidden {
    display: block;
}

.pagebuilder-mobile-only {
    display: none;
}

.category_baner figure {
    margin: 0;
}

.category_baner .pagebuilder-column-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}

.category_baner .pagebuilder-column-line img {
    width: 100%;
}


/*  */

.bottom_info {
    background: #f7f7f7;
    padding: 20px;
}

.bottom_info .pagebuilder-column-line p {
    font-size: 16px;
}   

.bottom_info .pagebuilder-column-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.bottom_info .pagebuilder-column-line img {
    height: 120px;
    object-fit: contain;
    margin: auto;
    margin-top: 40px;
}

.bottom_info .pagebuilder-column {
    text-align: center;
}

/* Footer */

.Footer-root .footer-links {
    background: #0d0d0d;
}

.Footer-root .footer-links ul {
    padding: 0;
}

.Footer-root .footer-links h3 {
    color: #fff;
}

.Footer-root .footer-links a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.Footer-copyright {
    background: #000;
    width: 100%;
    min-width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

/* Listanje */

.category-sidebar-filter {
    margin-top: 48px !important;
}

.LayoutDefault-children {
    margin-top: 30px;
}


/* Single page */

.LayoutDefault-children .ProductPageDescription-root h1 {
    font-size: 23px !important;
}

.LayoutDefault-children .ProductPageDescription-root p {
    font-size: 16px;
    line-height: 1.5;
}


@media only screen and (max-width:1600px) {
    .slick-slider .AddProductsToCartForm .ProductListItem-titleContainer h2 {
        font-size: 15px;
    }
}

@media only screen and (max-width:1100px) {
    .bottom_info .pagebuilder-column-line {
        grid-template-columns: repeat(2, 1fr);
    }
    header.LayoutDefault-header {
        height: auto;
        padding: 10px 0;
    }
    .mui-style-rh1ser {
        height: 58px;
    }
}



@media only screen and (max-width:768px) {

    .LayoutDefault-fabs {
        position: absolute;
        top: 2px;
    }

    .CartFab-cart {
        right: 25px;
    }

    .Overlay.MuiBox-root {
        z-index: 999999;
    }

    .LayoutHeaderContent-content {
        display: none;
    }


    .AddProductsToCartForm .MuiBox-root .ProductListItem-root {
        padding: 10px;
    }
    header.LayoutDefault-header .GcLogo-parent img {
        height: 25px;
    }
        .mui-style-rh1ser {
        height: 45px;
    }
    .two-baner .pagebuilder-column-line {
        grid-template-columns: repeat(1, 1fr);
    }
    .two-baner {
        margin-top: -30px;
    }
    .category_baner,
    .bottom_info {
        margin-top: -50px;
    }
    .category-grid-wrapper .category-grid-item img {
        height: 90px !important;
    }
    .category-grid-wrapper > a .category-grid-name {
        padding: 0px 0 7px;
        font-size: 12px;
    }
    .category_baner .pagebuilder-column-line {
        grid-gap: 5px;
        margin: 5px 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .category_baner .pagebuilder-column-line .pagebuilder-column:last-child {
        grid-column: span 2;
    }
    .bottom_info .pagebuilder-column-line {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .footer_link_list {
        padding: 30px 0px;
        flex-direction: column;
    }

    /* cat */

    .category-grid-wrapper {
        display: flex;
        overflow: scroll;
        white-space: nowrap;
        gap: 0;
        justify-content: space-between;
    }
    .category-grid-wrapper > a {
        min-width: 48%;
        flex: inherit;
        margin-right: 2%;
        width: 48%;
    }
    .category-grid-wrapper > a:last-child {
        margin-right: 0;
    }
}





